/*! Fonts include. (fonts.css) | @author webtitov.ru */

/* Geometria Regular */
@font-face {
  font-family: 'Geometria';
  src: url('fonts/Geometria-Regular.eot');
  src: local('Geometria'), local('Commissioner-Regular'),
  url('fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Geometria-Regular.woff') format('woff'),
  url('fonts/Geometria-Regular.woff2') format('woff2'),
  url('fonts/Geometria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Geometria Medium */
@font-face {
  font-family: 'Geometria';
  src: url('fonts/geometria_medium.otf');
  font-weight: 500;
  font-style: normal;
}

/* Geometria Bold */
@font-face {
  font-family: 'Geometria';
  src: url('fonts/geometria_bold.otf');
  font-weight: 600;
  font-style: normal;
}

/* Playfair Display SemiBold */
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/PlayfairDisplay-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}