/*! Responsive styles. (responsive.css) | @author webtitov.ru */

/* Desktop */
@media (max-width: 1440px) {
  .intro-wrapper__content {
    /*background: rgba(255, 255, 255, 0.75);
    padding: 16px;*/
  }
  
  .intro-wrapper__content:before {
    content: '';
    display: block;
    height: calc(100% + 48px);
    width: 100vw;
    position: absolute;
    top: -24px;
    right: -24px;
    background-color: rgba(255,255,255,0.6);
  }
}

/* Laptop */
@media (max-width: 1140px) {
  :root {
    --padding-h: 12px;
  }
  .header-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  
  .header-wrapper__nav,
  .header-wrapper__actions {
    gap: 16px;
  }
  .header-actions__button {
    max-width: 150px;
  }
  
  .about-item__content {
    padding-bottom: 190px;
    padding-right: 12px;
  }
  .--about-item-bottom .about-item__content {
    /*padding-top: 190px;*/
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 12px;
  }
  .about-item__img {
    height: 100%;
    object-fit: cover;
  }
  .about-grid__item {
    grid-template-columns: 550px 1fr;
  }
  
  .about-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  
  .about-wrapper__text {
    padding-left: 12px;
    padding-right: 12px;
  }
  #promo_carousel ~ .promo-arrow__button {
    display: none;
  }
}

/* Tablet */
@media (max-width: 960px) {
  .header-wrapper__nav {
    display: none;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .nav-toggle__line {
    width: 25px;
    height: 2px;
    background-color: var(--theme-color);
  
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
  .--modal-show .nav-toggle__line:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .--modal-show .nav-toggle__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -7px;
  }
  .about-grid__item {
    grid-template-columns: 1fr 1fr;
  }
  .cta-content__headline {
    max-width: 600px;
  }
  .features-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricelist-wrapper__grid {
    grid-template-columns: 1fr;
  }
  .pricelist-item__list {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .intro-wrapper__content:before {
    display: none;
  }
  .intro-wrapper__image {
    display: block;
    height: 280px;
    object-fit: cover;
    width: 100%;
  }
  .intro {
    height: auto;
    background-image: none;
  }
  .intro-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .intro-content__title {
    text-align: center;
    font-size: 42px;
    line-height: 52px;
  }
  .intro-wrapper__content {
    margin-top: 16px;
  }
  .intro-content__text {
    text-align: center;
  }
  .intro-content__button {
    margin: 24px auto 0 auto;
    height: 64px;
  }
  
  .about-grid__item {
    grid-template-columns: 1fr;
  }
  .about-item__img {
    height: 300px;
  }
  .about-item__content,
  .--about-item-bottom .about-item__content {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0;
  }
  .about-content__img {
    height: 300px;
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    margin-left: -12px;
  }
  .--about-item-bottom {
    margin: 20px 0 0 0;
  }
  
  .theme-headline {
    font-size: 42px;
    line-height: 52px;
  }
  .about-wrapper__headline {
    margin-bottom: 32px;
  }
  
  .cta {
    background-position: left center;
  }
  
  .contacts-wrapper {
    grid-template-columns: 1fr;
  }
  .contacts-wrapper__map {
    height: 350px;
  }
  .contacts-content__info {
    width: 100%;
    padding: 24px 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts-info__headline {
    grid-column: span 2;
    font-size: 42px;
    line-height: 56px;
  }
  .--info-item-phone {
    flex-direction: column;
    gap: 4px;
  }
  
  .about-wrapper__gallery {
    grid-template-columns: 1fr;
  }
  
  .reviews-wrapper__yandex {
    width: 100%;
    max-width: 100%;
  }
  .intro-content__actions {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .promo-wrapper__grid {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

/* Phone */
@media (max-width: 575px) {
  .theme-modal {
    max-width: calc(100% - 24px);
  }
  
  .header-actions__button {
    display: none;
  }
  
  .theme-modal__button {
    display: flex;
  }
  
  .header-wrapper__actions {
    flex-direction: row-reverse;
  }
  
  .intro-content__title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 36px;
    line-height: 42px;
  }
  .intro-content__text {
    padding-left: 12px;
    padding-right: 12px;
  }
  .intro-content__text > br {
    display: none;
  }
  
  .cta-content__headline {
    font-size: 36px;
    line-height: 42px;
  }
  .cta {
    height: 600px;
  }
  .cta-content__text {
    font-size: 14px;
    margin-top: 16px;
  }
  .cta-form__input,
  .cta-form__submit, .cta-form__submit:focus, .cta-form__submit:active {
    max-width: 280px;
    width: 100%;
    height: 60px;
  }
  
  .contacts-content__info {
    grid-template-columns: 1fr;
  }
  .contacts-info__headline {
    grid-column: auto;
  }
  
  .features-wrapper {
    grid-template-columns: 1fr;
  }
  
  .intro-content__actions {
    flex-direction: column;
  }
  .pricelist-item__title {
    font-size: 21px;
  }
  .pricelist-list__li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pricelist-li__name {
    word-break: break-all;
  }
  .pricelist-li__value {
    text-align: right;
  }
  
  .theme-headline > span {
    display: block;
  }
}

/* Phone - 320px */
@media (max-width: 374px) {
  .intro-content__title {
    font-size: 27px;
    line-height: 32px;
  }
  
  .reviews-wrapper__yandex {
    width: 100%;
    max-width: 300px;
  }
  
  .reviews-video__item {
    width: 100%;
    height: 250px;
  }
  .pricelist-item__title {
    font-size: 19px;
    white-space: break-spaces;
  }
  
  .theme-input,
  .theme-modal__submit {
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
  }
  
  .modal-info__image {
    width: 100%;
  }
  
  .theme-modal__info {
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    flex-direction: column;
    gap: 12px;
  }
}