/*! Theme styles. (theme.css) | @author webtitov.ru */
:root {
  /* colors */
  --theme-color: #1B6143;
  --hover-color: #437e5b;
  /* typography */
  --theme-font: 'Mont', sans-serif;
  --theme-secondary-font: 'Forum';
  /* else */
  --website-width: 1140px;
  --padding-h: 0; /* horizontal padding */
  --padding-v: 32px; /* vertical padding */
}

body {
  background-color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
}

.theme-wrapper {
  padding: var(--padding-v) var(--padding-h);
  display: grid;
  align-items: start;
  justify-content: space-between;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
  max-width: var(--website-width);
  margin: 0 auto;
}

/* Theme headline */
.theme-headline {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--theme-secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  color: #1B6143;
  text-transform: uppercase;
}
.theme-headline > span {
  color: #232323
}


/* Theme text */
.theme-text {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 147.3%;
  color: #6B6B6B;
  margin: 0;
}

/* Theme button */
.theme-button,
.theme-button:focus {
  width: 290px;
  height: 71px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border: 2px solid var(--theme-color);
}
.theme-button__text,
.theme-button:focus .theme-button__text {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.theme-button:hover {
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color);
}
.theme-button:hover .theme-button__text {
  color: #FFFFFF;
}
.--secondary-button,
.--secondary-button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #FFFFFF;
}
.--secondary-button .theme-button__text {
  color: #FFFFFF;
}
.--secondary-button:hover .theme-button__text {
  color: var(--theme-color)
}


/* Else */
.theme-overlay {
  background: rgba(230, 230, 230, 0.85);
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 1001;
}
.--modal-show.theme-overlay {
  opacity: 1;
  pointer-events: all;
}

.theme-modal {
  opacity: 0;
  pointer-events: none;
  
  width: 100%;
  max-width: 550px;
  
  background: #FFFFFF;
  padding: 16px 16px 24px 16px;
  
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1010;
  
  border: 2px solid var(--theme-color);
  
  overflow: hidden;
}
.theme-modal.--modal-show {
  opacity: 1;
  pointer-events: all;
}
.theme-modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  
  position: relative;
  z-index: 1;
}
.theme-modal__heading {
  font-family: var(--theme-secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #1E1E1E;
  text-transform: uppercase;
}
.theme-modal__close {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: transparent;
  position: relative;
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  
  opacity: 0.7;
}
.theme-modal__close:hover {
  opacity: 1;
}

.theme-modal__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 12px;
  
  position: relative;
  z-index: 1;
}
.modal-nav__item,
.modal-nav__item:focus,
.modal-nav__item:active,
.theme-modal__nav > a,
.theme-modal__nav > a:focus,
.theme-modal__nav > a:active {
  position: relative;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #343434;
}
.modal-nav__item:hover,
.theme-modal__nav > a:hover {
  color: var(--hover-color);
}
.modal-nav__item:after,
.theme-modal__nav > a:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 0;
  background-color: transparent;
  height: 3px;
}
.modal-nav__item.--active-item,
.theme-modal__nav > a[aria-current] {
  margin-bottom: 4px;
}

.theme-modal__button {
  margin: 16px auto 0 auto;
  width: 159px;
  height: 43px;
  
  display: none;
  
  position: relative;
  z-index: 1;
}
.theme-modal__button .theme-button__text {
  font-size: 12px;
  line-height: 15px;
}

button[type="submit"].--disabled-button {
  pointer-events: none;
  opacity: 0.75;
}

.theme-input {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 147.3%;
  color: #6B6B6B;
  width: 280px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgb(133, 133, 133);
  margin: 0 auto;
}
.theme-input + .theme-input {
  margin-top: 8px;
}
.theme-input:focus {
  outline: 2px solid var(--theme-color)
}
.theme-modal__text {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 147.3%;
  color: #343434;
  text-align: center;
  max-width: 300px;
  margin: 24px auto;
  position: relative;
  z-index: 1;
}
.theme-modal__submit,
.theme-modal__submit:focus,
.theme-modal__submit:active {
  margin: 12px auto 0 auto;
  width: 280px;
  height: 54px;
}

.theme-modal:before {
  content: '';
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url(../img/shapes/shape-3.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  top: -12px;
  left: -42px;
  
  opacity: 0.7;
}

.theme-modal:after {
  content: '';
  display: block;
  position: absolute;
  width: 115px;
  height: 245px;
  background-image: url(../img/shapes/shape-4.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  bottom: 12px;
  right: 0;
  
  opacity: 0.7;
}

.theme-modal__form {
  position: relative;
  z-index: 1;
}

.theme-modal__info {
  max-width: 290px;
  margin: 24px auto;
  position: relative;
  z-index: 1;
  
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.modal-info__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.modal-info__title {

}
.modal-info__title > span:first-child {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #343434;
  display: block;
}
.modal-info__title > span:last-child {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #343434;
  text-align: left;
  display: block;
  margin-top: 4px;
}

.promo-modal {

}
.promo-modal .theme-modal__head {

}
.promo-modal .theme-modal__form {

}